/* Prevent window bouncing */
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

/* Hide 'open in app' button */
._28zbs {
  display: none;
}

/* Nav Bar */
._bfc7q {
  background-color: #111a23 !important;
}

/* Nav Bar Icon */
._r1svv {
  filter: brightness(0) invert(0.65);
  -webkit-filter: brightness(0) invert(0.65);
}
._r1svv:hover, ._r1svv:active {
  opacity: 0.5;
}


/* Main Body */
#react-root main {
  background-color: #111a23 !important;
  color: #c9cccf !important;
}

/* Photo container */
._qj7yb article {
  border-style: none !important;
}

._qj7yb header {
  background-color: #111a23 !important;
  color: #c9cccf !important;
}

/* user of comment */
._qj7yb a {
  color: #a0a3a5 !important;
}

/* user is mentioned in a comment */
._nk46a span > a {
  color: #4c8ccb !important;
}

/* Photo */
._22yr2, ._icyx7, ._e0mru {
  border-style: none !important;
  background-color: #111a23 !important;
}


/* Photo container likes */
._tf9x3 {
  color: #c9cccf !important;
}

._iuf51 {
  color: #c9cccf !important;
}

/* Photo container comment section */
._es1du {
  background-color: #111a23 !important;
  color: #c9cccf !important;
}

/* Comment input section */
._k3t69 input {
  color: #c9cccf !important;
}

/* Profile Photo of user */
#react-root ._5lote {
	border-color: #111a23;
}

/* User link for who liked your photo */
._4zhc5 {
  color: #a0a3a5 !important;
}
/* Text for who liked a photo of yours; in the like section */
._auspy {
  color: #c9cccf !important;
}

/* User profile page text */
._de9bg {
  color: #c9cccf !important;
}
/* Profile photo */
._8gpiy {
  border-style: none !important;
  border-color: #111a23 !important;
}
/* Numbers on user's profile */
._bkw5z {
  color: #c9cccf !important;
}
/* Link on user's profile */
._56pjv {
  color: #4c8ccb !important;
}
._bugdy > span > a {
  color: #4c8ccb !important;
}
/* Load more button */
._oidfu {
  color: #c9cccf !important;
}
._oidfu:hover {
  opacity: 0.5;
}

/* List of followers */
._q44m8, ._cx1ua {
  background-color: #111a23 !important;
}
/* Text for each follower in list */
._2uju6, ._7z4zb {
  color: #c9cccf !important;
}

/* Search bar */
._9x5sw, ._55bi1, ._o1o4h {
  background-color: #111a23 !important;
  color: #c9cccf !important;
}
/* Search dropdown */
._qfezm {
  color: #c9cccf !important;
}