/* Hide 'open in app' button */
._28zbs {
  display: none;
}

/* Nav Bar */
._bfc7q {
  background-color: #111a23 !important;
}
/* Nav Bar Icon */
._r1svv {
  filter: brightness(0) invert(0.65);
  -webkit-filter: brightness(0) invert(0.65);
}
._r1svv:hover, ._r1svv:active {
  opacity: 0.5;
}


/* Main Body */
#react-root main {
  background-color: #111a23 !important;
  color: #c9cccf !important;
}

/* Photo container */
._qj7yb article {
  border-style: none !important;
}

._qj7yb header {
  background-color: #111a23 !important;
  color: #c9cccf !important;
}

/* user of comment */
._qj7yb a {
  color: #a0a3a5 !important;
}

/* user is mentioned in a comment */
._nk46a span > a {
  color: #4c8ccb !important;
}

/* Photo */
._22yr2, ._icyx7, ._e0mru {
  border-style: none !important;
  background-color: #111a23 !important;
}


/* Photo container likes */
._tf9x3 {
  color: #c9cccf !important;
}

._iuf51 {
  color: #c9cccf !important;
}

/* Photo container comment section */
._es1du {
  background-color: #111a23 !important;
  color: #c9cccf !important;
}

/* Comment input section */
._k3t69 input {
  color: #c9cccf !important;
}