/* Prevent window bouncing */
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

/* Hide 'open in app' button */
._28zbs {
  display: none;
}

/* Hide header on login page */
._rsurd, ._3o95g {
  display: none;
}
._okmo7 {
	visibility: hidden;
}

/* Hide footer */
._oofbn {
	display: none;
}

/* Hide 'Get the app' section */
._m8ogu {
	display: none;
}

/* Nav Bar */
._bfc7q {
  background-color: #F5F5F5 !important;
}

/* Nav Bar Icon */
._r1svv {
  filter: brightness(1) invert(0);
  -webkit-filter: brightness(1) invert(0);
}
._r1svv:hover, ._r1svv:active {
  opacity: 0.5;
}


/* Main Body */
#react-root main {
  background-color: #F5F5F5 !important;
  color: #111d2e !important;
}

/* Photo container */
._qj7yb article {
  border-style: none !important;
}

._qj7yb header {
  background-color: #F5F5F5 !important;
  color: #111d2e !important;
}

/* user of comment */
._qj7yb a {
  color: #0b1420 !important;
}

/* user is mentioned in a comment */
._nk46a span > a {
  color: #4c8ccb !important;
}

/* Photo */
._22yr2, ._icyx7, ._e0mru {
  border-style: none !important;
  background-color: #F5F5F5 !important;
}


/* Photo container likes */
._tf9x3 {
  color: #111d2e !important;
}

._iuf51 {
  color: #111d2e !important;
}

/* Photo container comment section */
._es1du {
  background-color: #F5F5F5 !important;
  color: #111d2e !important;
}

/* Comment input section */
._k3t69 input {
  color: #111d2e !important;
}

/* User link for who liked your photo */
._4zhc5 {
  color: #0b1420 !important;
}
/* Text for who liked a photo of yours; in the like section */
._auspy {
  color: #111d2e !important;
}

/* User profile page text */
._de9bg {
  color: #111d2e !important;
}
/* Numbers on user's profile */
._bkw5z {
  color: #111d2e !important;
}
/* Link on user's profile */
._56pjv {
  color: #4c8ccb !important;
}
._bugdy > span > a {
  color: #4c8ccb !important;
}
/* Load more button */
._oidfu {
  color: #4c8ccb !important;
}
._oidfu:hover {
  opacity: 0.8;
}

/* List of followers */
._q44m8, ._cx1ua {
  background-color: #F5F5F5 !important;
}
/* Text for each follower in list */
._2uju6, ._7z4zb {
  color: #111d2e !important;
}

/* Search bar */
._9x5sw, ._55bi1, ._o1o4h {
  background-color: #F5F5F5 !important;
  color: #111d2e !important;
}
/* Search dropdown */
._qfezm {
  color: #111d2e !important;
}

/* Private user */
._76rrx {
  background-color: #FCFCFC !important;
}

._76rrx p, h2 {
  color: #111d2e !important;
}
